@media print {

  @page {
    size: 16in 9in;
    margin: 0;
  }

  .reveal .slides section {
    overflow: hidden !important;
  }

  .reveal .mermaid {
    width: 100% !important;
    max-width: 100% !important;
    margin-left: auto !important;
    margin-right: auto !important;
  }

  .reveal .mermaid svg {
    max-width: 100% !important;
    max-height: 620px !important;
    width: auto !important;
    height: auto !important;
  }

  .reveal table {
    max-width: 100% !important;
  }
}